
.mobileDropdown {
    display:flex;
    flex-direction:column;
    gap: 5px;
    position:absolute;
    left:0;
    right:0;
    top:65px;
    /* width:99%; */
    height: 67vh;
    margin:0px auto;
    background-color: rgba(250,250,250,0.6);
    align-items:center;
    transition: all 0.5s ease-in;
    transform: translateX(-110%);
    margin-top: 45px;
    z-index:1000;
}

.mobileDropdown.open {
    transform: translateX(0);
    overflow-y: hidden;
}